*{
    margin: 0;
    padding: 0;
}

canvas {
    background: rgb(117, 117, 117);
    margin: 0;
}

.canvas_div {
    text-align: center;
}

#next_canvas {
    position: relative;
    bottom: 200px;
    border: 2px solid black;
    right: 6px;
}